/* Variables */
@import "~@astronomer/spectra/dist/css/fonts/goodSans.css";
@import "~@astronomer/spectra/dist/css/variables.css";
@import "~@astronomer/spectra/dist/css/mixins.css";

/* Root styles */
@import "~@astronomer/spectra/dist/css/base.css";

/* Other root styles */
pre,
code,
img {
  max-width: 100%;
  overflow: hidden;
}

/* Overrides */
body {
  background-color: var(--purple11);
  font-weight: 300;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  max-width: 400px
}

.button {
  padding-top: 3rem;
}

a {
  text-decoration: none !important;
}

pre,
code {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  overflow-x: inherit;
  border-radius: inherit;
  line-height: inherit;
  font-family: inherit;
}

/* Override normalize.css */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none !important;
}

li > code,
p > code,
p > a > code,
h3 > code {
  display: inline-block;
  vertical-align: middle;
  padding: 0.2em 0.4em;
  background-color: var(--white11);
  color: #333;
}

table {
  display: block;
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  border: 2px solid var(--white13);
  border-radius: var(--radius-m);

  & th {
    white-space: nowrap;
    text-align: left;
    border-bottom: 1px solid var(--white13);
  }

  & td {
    border-bottom: 1px solid var(--white13);
  }

  & th,
  & td {
    padding: 0.5rem;
    font-size: var(--font-s);
  }

  & tbody {
    & tr:last-child {
      & td,
      & th {
        border-bottom: 0;
      }
    }
  }
}

.tableCenter {
  max-width: 700px;
  margin: 2rem auto;

  & th {
    white-space: wrap;
  }
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--white11);
  width: 100%;
  margin-bottom: 1.5rem;
}

.gradientBG {
  background: var(--purple12);
  background: linear-gradient(180deg, var(--purple12) 0%, #4a436d 100%);
  color: var(--white10);
}

.lightBG {
  background: var(--white10);
  color: var(--purple10);
}

.darkBG {
  background: var(--purple10);
  color: var(--white10);
}

/* Blue Gradient Button */
.buttonGradient {
  background: linear-gradient(90deg, var(--blue12) -7.69%, var(--blue09) 105.13%);
  border: 2px solid var(--blue10);
}
