.imageBG {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.image {
  height: auto;
  width: 100%;
}

.image,
.imageBG {
  border-radius: 10px;
  overflow: hidden;
}
