.postHeader {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.postHeader .imageRight {
  flex-direction: row-reverse;
}

.imageLeft .heroImage {
  padding-left: 0;
}

.postDetails {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.postDetails h1 {
  font-size: 48px;
  margin: 0;
}

.heroImage {
  flex: 0 0 50%;
  padding: 0 1rem;
}

.heroImage img {
  min-width: 650px;
}

.date {
  pointer-events: none;
  color: #767574;
  font-size: 12px;
}

.metaData {
  display: flex;
  align-items: center;

}

time {
  margin-right: 1rem;
}

.authors {
  margin-top: 2rem;
}

.postBody {
  padding: 0 20%;
}

.blogLink:hover {
  text-decoration: underline;
  color: #302c43;
}

.sep {
  margin: 3rem 0 3.5rem;
}
